@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lato&display=swap);

* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.scroll {
  -ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE and Edge */
.scroll {
  -ms-overflow-style: none;
}
.blur {
  backdrop-filter: opacity(50);
}

.backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 10px;
  bottom: 0;
  background: white;
  opacity: 0.9;
}
